<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">GDG STORE</div>
        <div class="links">
            <a href="/pages/products"><i class="fas fa-th-large"></i> Products</a>
            <a href="/pages/cart"><i class="fas fa-shopping-cart"></i> Cart</a>
            <a href="/pages/orders"><i class="fas fa-history"></i> Orders</a>
            <a href="/pages/add-product"><i class="fas fa-add"></i> add product</a>
        </div>
    </nav>
    <div class="container"></div>